.LoginForm {
    width: 400px;               /* 원하는 넓이로 설정 */
    margin: 50px auto;          /* 세로 간격 및 수평 중앙 정렬 */
    text-align: center;         /* 내부 요소 가운데 정렬 */
    display: flex;              /* flex 사용 */
    justify-content: center;    /* 수평 중앙 정렬 */
    align-items: center;        /* 수직 중앙 정렬 */
    flex-direction: column;     /* 세로 방향으로 정렬 */
}

.LoginForm table {
    border-collapse: collapse;  /* 이중선 없애기 */
    width: 100%;                /* 테이블 넓이를 부모에 맞춤 */
}

.LoginForm table th, .LoginForm table td {
    padding: 5px;
}

.LoginForm #idDiv, .LoginForm #pwdDiv {
    color: red;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

.LoginForm div {
    color: red;
    font-weight: bold;
}
